.productos-general {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.productos_contenedor {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.contenedor_top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.contenedor_card {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
}

.contenedor_card_producto {
    width: 9.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contenedor_opciones {
    position: absolute;
    width: 9.75rem;
    display: flex;
    justify-content: flex-end;
}

.contenedor_opciones img {
    width: 24px;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
}

.contenedor_card_producto_digitos {
    font-weight: 500;
}


@media screen and (min-width: 764px) {
    .productos-general {
        padding: 0 2rem;
    }

    .productos_contenedor {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .contenedor_top {
        flex-direction: row;
        justify-content: space-between;
        gap: auto;
    }

    .contenedor_card_producto {
        width: 10.25rem;
    }

    .contenedor_opciones {
        width: 10.25rem;
    }
}

@media screen and (min-width: 1440px) {
    .productos-general {
        padding-left: calc((100% - 1136px)/2);
        padding-right: calc((100% - 1136px)/2);
    }

    .contenedor_card {
        display: flex;
    }

    .contenedor_card_producto {
        width: 11rem;
        padding-bottom: 4rem;
    }

    .contenedor_opciones {
        width: 11rem;
    }

}